[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/pixel-Teee/glfw.git
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/pixel-Teee/glm.git
[submodule "ThirdParty/vma"]
	path = ThirdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ThirdParty/FreeType"]
	path = ThirdParty/FreeType
	url = https://github.com/pixel-Teee/freetype.git
[submodule "ThirdParty/nanosvg"]
	path = ThirdParty/nanosvg
	url = https://github.com/pixel-Teee/nanosvg.git
